<div class="main_content">

    <p>I have lived in District 19 for 13 years during which time I have been actively engaged as a volunteer

    to meet needs and assist others in making our community a better place to live. Now I am taking the

    next step by expanding my commitment to you, the citizens, by advancing the quality of life for all

    Oregonians as your Representative in the Oregon Legislature. In doing so, I intend to propose and

    support legislation that will nurture economic growth and the standard of living, place emphasis on

    supporting an educational system that is positioned to prepare our workforce of tomorrow to meet and

    successfully compete in a global economy, and to upgrade our public safety and public health agendas

    to secure a safe and healthy community through prevention, intervention, and monitoring programs. No

    matter the subject, as your Representative, I will always and foremost work to move our community in

    a positive direction by serving every citizen, engaging in every possibility, and promoting a secure and

    vibrant future for Oregon.</p>

  </div>
