<div class="main_content">
  <ul><p class="special">Leadership</p>
    <li>Former Executive Director, National Alliance for Mental Illness (NAMI) - Oregon</li>
    <li>Board member - HOME Youth & Resource Center (Kids' Day Shelter)</li>
    <li>For 30 years, Homeowner Associations' Board Member and Officer</li></ul>
  <ul><p class="special">Experience</p>
    <li>County Public Health and Mental Health Program Director (1976-1996)</li>
    <li>Governor's Task Force on Inpatient Psychiatric Services</li>
    <li>Grant Specialist – Salem Keizer School District</li></ul>
  <ul><p class="special">Service</p>
    <li>Volunteer Member, Marion Co. Medical Reserve Corps (Disaster/Emergency Planning)</li>
    <li>Co-Creator and Organizer, "Salem's Got Talent" (City-funded Area Art/Tourism Project)</li>
    <li>Food Bank Volunteer - "Table of Plenty"</li>
    <li>Volunteer Marion County Neighbor-to-Neighbor Community Mediator (since 2000)</li></ul>
</div>
