<div class="main_content">
  <h2>Contact Bill</h2><hr>
  <h3>Campaign Mailing Address</h3>
  <h5>6619 Huntington Cir SE</h5>
  <h5>Salem, OR 97306</h5>
  <h3>Phone</h3>
  <h5>541-301-4962</h5>
  <h3>Email</h3>
  <h5>billdaltonforstaterep@gmail.com</h5>

</div>
