<div class="main_content">
  <h2>Endorsements</h2><hr>
  <h3>Oregon Education Association/Salem-Keizer Education Association</h3>

  <h3>Service Employees International Union (SEIU) 503</h3>

  <h3>Oregon School Employees Association (OSEA - AFT Local 362)</h3>

  <h3>Planned Parenthood</h3>

  <h3>United Food and Commercial Workers (UFCW) Local 555</h3>

</div>
