<div class="events">

  <div class="events_title">
    UPCOMING EVENTS...
  </div>

  <div class="events_body">
    <h3>CAMPAIGN KICK-OFF PARTY</h3>
    <div class="event_info">
      <h4>JUNE 25th</h4>
      <h4>@ PAINTER'S HALL</h4>
      <H4>PRINGLE CREEK COMMUNITY</h4>
      <h4>3911 Village Center Dr SE, Salem</h4>
    </div>
    <div class="events_spacer"></div>
  </div>
</div>
