<div class="events">

  <div class="events_title">
    UPCOMING EVENTS...
  </div>

  <div class="events_body">
    <a href="http://www.mariondemocrats.org/node/851" target="_blank">
    <h3>MARION COUNTY DEMS PICNIC</h3>
    <h4>AND SILENT AUCTION</h2>
    <div class="event_info">
      <h4>JULY 16th</h4>
      <h4>5-8PM</h4>
      <h4>@ PRINGLE CREEK PARK</h4>
      <h4>606 Church St SE, Salem</h4>
    </div>
    </a>
    <div class="events_spacer"></div>
  </div>
</div>
